

/* base css */
*{
  margin: 0;
  font-family: "Quicksand";
  background-color: #edc7b7;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar{
  padding: 20px;
  display: flex;
  background-color: #123c69;
  align-items: center;
  max-width: auto;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
  background-color: #123c69;
}
.navbar .links {
  margin-left: auto;
  background-color: #123c69;
}
.navbar a {
  
  font-size: 20px;
  color: #ac3b61;
  margin-left: 16px;
  text-decoration: 0;
  padding: 6px;
  background-color: #123c69;
}
.navbar a:hover {
  color: #ac3b61;

}
.content {
  max-width: auto;
  margin: 40px auto;
  padding: 20px;
}
.container-fluid {
  color: #123c69;
  text-align: justify;
}
.content-section li{
  color: #123c69;
  background-color: #edc7b7;
}
.post-list h1{
  margin-left: 80px;
}
.blog-preview {
  padding: 10px 16px;
  margin: 20px;
  border-bottom: 1px solid #ffafaf;
}
.blog-preview a{
  text-decoration: none ;
}
.blog-preview:hover{
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 1);
}
.blog-preview h2{
  font-size: 20px;
  color: #ac3b61;
  margin-bottom: 8px;
}
.post-details h2{
  font-size: 20px;
  color: #123c69;
  margin-bottom: 10px;
}
.post-details div{
  margin: 20px 0;
}
.create h2{
  font-size: 20px;
  color:#123c69;
  margin-bottom: 30px;
}
.container-fluid input, .container-fluid textarea, .container-fluid select{
  width: 60%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  background-color: whitesmoke;
}
.container-fluid button{
  background: #123c69;
  color: #f1356d;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
}
.post-details button{
  background: #123c69;
  color: #f1356d;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
}